@tailwind base;
@tailwind components;
@tailwind utilities;

.mc-dirt-bg {
  background-color: #1a1a1a;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"%3E%3Crect width="64" height="64" fill="%231a1a1a"/%3E%3Crect x="0" y="0" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="12" y="8" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="32" y="4" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="50" y="12" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="8" y="24" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="24" y="32" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="44" y="40" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="56" y="28" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="16" y="50" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="36" y="56" width="4" height="4" fill="%232a2a2a"/%3E%3Crect x="60" y="60" width="4" height="4" fill="%232a2a2a"/%3E%3C/svg%3E');
  background-repeat: repeat;
  image-rendering: pixelated;
}